<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.warehouseproject">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WarehouseProject"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".core.view.main.account_fragment.privacy_police.PrivacyPoliceActivity"
            android:exported="false" />
        <activity
            android:name=".core.view.main.detail_product.DetailProductActivity"
            android:exported="false" />
        <activity
            android:name=".core.view.main.home_fragment.webview.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".core.view.main.account_fragment.product_upload_user.ui.ProductsUserActivity"
            android:exported="false" />
        <activity
            android:name=".core.view.main.account_fragment.account_update.AccountUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".core.view.main.home_fragment.product_list_all.paging.ui.ProductListAllActivity"
            android:exported="false" />
        <activity
            android:name=".core.view.not_internet_connect.ItemDisconnectActivity"
            android:exported="false" />
        <activity
            android:name=".core.view.authentication.SignInActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".core.view.main.home_fragment.category.ProductCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".core.view.product.add_product.steps.AddProductStepActivity"
            android:exported="false" />
        <activity
            android:name=".core.view.main.home_fragment.stock_out_product.StockOutActivity"
            android:exported="false" />
        <activity
            android:name=".core.view.main.home_fragment.stock_in_product.StockInActivity"
            android:exported="false" />
        <activity
            android:name="com.example.warehouseproject.core.view.main.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>